.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 40px 20px;
  flex-direction: column;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  width: 100%;
}

.image {
  width: 250px;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

.text {
  flex: 1;
}

.text h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
        font-family: 'Courier New', Courier, monospace;
 font-weight: 600;
 color: #0abab5;
}

.role {
  font-style: italic;
  color: #444;
  color: #0abab5;
}

.quote {
  font-size: 1rem;
  color: #222;
  margin-bottom: 20px;
  line-height: 1.6;
        font-family: 'Courier New', Courier, monospace;
font-weight: 500;
}

.readMore {
  background: #1e293b;
  color: white;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.navBtn {
  /* background: #1e293b; */
  color: #1e293b;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
}

.navBtn:first-of-type {
  left: 20px;
}

.navBtn:last-of-type {
  right: 20px;
}

.dots {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 4px;
  background: #aaa;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.dot.active {
  background: black;
  width: 30px;
}
