
.card {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 17em;
  margin: 1em;
  text-align: center;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease-in ease;

}
.card:hover{
  transform: rotateY(20deg);
}

.card img {
  max-width: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0%);
}
.description {
  padding: 0 1em 1em 1em;
  font-family: "Oswald", sans-serif;
}
.button {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #836953;
  border: none;
}

.card:nth-child(odd) {
  background-color: #836953;
  color: #0ABAB5;
}

.card:nth-child(even) {
    background-color: #64748b;
  color: #ADEED9;

}

.card:nth-child(odd) button {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #836953;
  background-color: #fff;
  border: 1px solid #836953;
}

.card:nth-child(even) button {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #64748b;
  background-color: #fff;
  border: 1px solid #64748b;
}
