
.mainSection {
  position: relative;
}
.upperSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
}
.box {
  position: relative;
  width: 35%;
  height: 200px;
  object-fit: cover;
}
.imageUpper {
  position: relative;
}

.imagesec {
  position: relative;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(31, 144, 193);
  transition: transform 0.3s ease-out; /* Move transition here */
}

.imagesec:hover {
  transform: scale(1.05); /* Zoom in slightly on hover */
}

.imagedown {
  position: relative;
  width: 30%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  top: -150px;
}

.lowercontent {
  text-align: center;
  width: 80%;
  margin: 6rem auto;
}
